*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.dat
*.iws
*.iml
*.ipr
go.work
vendor/
Godeps/
z-i/
publish/
.idea

/antizapret-xray
/antizapret-xray.exe

# Generated dat file.
antizapret.dat

# Exported plaintext lists.
/*.txt